@page "{id:int}"
@model DebtorWebApp.Pages.Debtors.ViewDebtorModel
@{
    ViewData["Title"] = "ViewDebtor";
}

<h1>Debtor</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h2>@(Model.Debtor.LastName + ", " + Model.Debtor.FirstName)</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group-flush list-group">
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Debtor.Email): @Html.DisplayFor(model => model.Debtor.Email)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Debtor.IBAN): @Html.DisplayFor(model => model.Debtor.IBAN)</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a asp-page="EditDebtor" asp-route-id="@(Model.Debtor.DebtorID)" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <h2>Invoices</h2>
            <div class="row">
                <div class="col-sm">Amount Due</div>
                <div class="col-sm">Due Date</div>
                <div class="col-sm">Status</div>
                <div class="col-sm"><a class="btn btn-primary">New</a></div>
            </div>
            @foreach (var invoice in Model.Debtor.Invoices)
            {
                <div class="row">
                    <div class="col-sm">@invoice.Amount</div>
                    <div class="col-sm">@invoice.DueDate</div>
                    <div class="col-sm">@invoice.Status</div>
                    <div class="col-sm"><a class="btn btn-primary">New</a></div>
                </div>
            }
        </div>
    </div>
</div>

