@page
@using DebtorWebApp.Models
@model DebtorWebApp.Pages.Debtors.Invoices.ViewInvoiceModel
@{
    ViewData["Title"] = "View Invoice";
}
@functions{
    public string GetStatusBackgroundColor(InvoiceStatus status)
    {
        if (status == InvoiceStatus.Overdue)
            return "badge-danger";
        if (status == InvoiceStatus.Paid)
            return "badge-success";
        return "badge-light";
    }
}
<h1>Invoice</h1>

<div class="card">
        <div class="card-header">
            <span class="badge @GetStatusBackgroundColor(Model.Invoice.Status)">@Html.DisplayFor(model => model.Invoice.Status)</span>
        </div>
        <div class="card-body">
            <h2>@Html.DisplayFor(model => model.InvoiceOwnerName)</h2>
            <p>
                <span>Due Date: </span>@Html.DisplayFor(model => model.Invoice.DueDate)
                <span>Balance: </span> @Html.DisplayFor(model => model.Invoice.Amount)
            </p>
            <form method="post" class="mb-1">
                <button class="btn btn-danger" asp-page-handler="MarkInvoiceAsOverdue" asp-route-id="@Model.Invoice.InvoiceId">Mark Overdue</button>
                <button class="btn btn-primary" asp-page-handler="MarkInvoiceAsPaid" asp-route-id="@Model.Invoice.InvoiceId">Mark Paid</button>
            </form>
            <a class="btn btn-secondary" asp-page="../ViewDebtor" asp-route-id="@Model.Invoice.DebtorID">Done</a>
        </div>
</div>

